<h1><caption>RegisterMap: test_regmap</caption></h1>
<p>Addr = 0x10000:0x10024<br>
Reg map size = 36</p>
<hr><h2><p>0x10000: config</p></h2>
<style>table, th, td {border: 1px solid black;}</style>
<caption>Register name: config</caption><br>
<caption>Register fullname: test_regmap/config</caption><br>
<caption>Register reset value: 0x00001023</caption><br>
<caption>Reset valid mask: 0xFFFFFFFF</caption><br>
Register description:     CFG description<br>    as multiline information<br>
<table>
  <tr>
    <th>Bit</th>
    <th>Name</th>
    <th>SW</th>
    <th>HW</th>
    <th>Reset</th>
    <th>Store</th>
    <th>Cdc</th>
    <th>If</th>
    <th>Desc</th>
  </tr>
  <tr>
    <td>7:0</td>
    <td>cfg1</td>
    <td>RW</td>
    <td>R</td>
    <td>0x23</td>
    <td>F.Flop</td>
    <td></td>
    <td>IF_RIF_TEST</td>
    <td>cfg1 field description</td>
  </tr>
  <tr>
    <td>12</td>
    <td>cfg2</td>
    <td>RW</td>
    <td>R</td>
    <td>0x1</td>
    <td>F.Flop</td>
    <td></td>
    <td>IF_RIF_TEST</td>
    <td>cfg2 field description<br>and extra cfg2 info</td>
  </tr>
</table>
<hr><h2><p> 0x10004:0x10020: Align Pad:size=28 on test_regmap/STAT</p></h2>
<hr><h2><p>0x10020: STAT</p></h2>
<style>table, th, td {border: 1px solid black;}</style>
<caption>Register name: STAT</caption><br>
<caption>Register fullname: test_regmap/STAT</caption><br>
<caption>Register reset value: 0x00000000</caption><br>
<caption>Reset valid mask: 0xFFFF0000</caption><br>
Register description: status register of my IP
<table>
  <tr>
    <th>Bit</th>
    <th>Name</th>
    <th>SW</th>
    <th>HW</th>
    <th>Reset</th>
    <th>Store</th>
    <th>Cdc</th>
    <th>If</th>
    <th>Desc</th>
  </tr>
  <tr>
    <td>15:0</td>
    <td>f_stat</td>
    <td>R</td>
    <td>W</td>
    <td>X</td>
    <td>Hw.Wire</td>
    <td></td>
    <td>IF_RIF_TEST</td>
    <td>stat field in STAT register</td>
  </tr>
</table>
<h4><caption>RegisterMap End: test_regmap</caption></h4>
<p>Addr = 0x10024<br>
Reg map size = 36</p>
<hr><p>----------------------------------------------------------<br>
<br>
----------------------------------------------------------<br>
<br>
This code has been generated with pyrift tool (under GPL licence),<br>
but this generated file is not covered by pyrift licence.<br>
It is full property and/or responsibility of the user of pyrift that generated this file.<br>
----------------------------------------------------------<br>
</p>
